@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.menu-list {
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
}

.menu-list li {
  font-size: 82px;
  font-family: Arial, Helvetica, serif;
  font-weight: 100;
}

.menu-list li a {
  display: inline-flex;
  cursor: pointer;
  letter-spacing:15px;
}

.menu-list span {
  transition: transform 0.6s ease-out 100ms;
}

.menu-list a:hover span {
   transform: rotateY(180deg);
   cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #565656;
  border-left: 1px solid #565656;
  border-right: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}