---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Venetia Production">
	<main>
		<section id="video" class="h-[calc(100vh_-_96px)] flex items-end">
			<video width="82%" autoplay muted loop>
				<source src="../../public/videoplayback.mp4" type="video/mp4">
			</video>
			<div class="flex flex-col ml-5 mb-2 justify-end text-lg font-extralight">
				<a href="about" class="text-lg font-extralight tracking-wider relative w-max one">
					o nás
					<span class="absolute -bottom-0 left-0 w-0 transition-all h-px bg-stone-700 duration-500"></span>
				</a>
				<a href="reference" class="text-lg font-extralight tracking-wider relative w-max one">
					reference
					<span class="absolute -bottom-0 left-0 w-0 transition-all h-px bg-stone-700 duration-500"></span>
				</a>
				<a href="kontakt" class="text-lg font-extralight tracking-wider relative w-max one">
					kontakt
					<span class="absolute -bottom-0 left-0 w-0 transition-all h-px bg-stone-700 duration-500"></span>
				</a>
			</div>
		</section>
		<section id="about" class="h-40">...</section>
	</main>
</Layout>

<style>
	.one:hover span:last-child {
		width: 100%;
	}
</style>