---

---

<nav class="px-10 py-7 flex justify-between">
  <a href="https://www.venetia.cz/"><img src="/logo.png" alt="logo" class="h-[40px]" /></a>
  <button class="rounded-full flex flex-col items-center justify-center border border-white h-[40px] w-[40px]">
    <div class="h-[1px] w-[18px] bg-white" />
    <div class="mt-1 h-[1px] w-[18px] bg-white" />
    <div class="mt-1 h-[1px] w-[18px] bg-white" />
  </button>
</nav>