---
import Navigation from '../components/Navigation/Navigation';
import '../styles/globals.css';

export type Props = {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="bg-black text-white">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/icon.png" />
  <title>{title}</title>
</head>
<!-- to make menu sticky remove relative -->
<header class="relative">
  <Navigation client:load />
</header>

<body>
  <slot />
</body>

</html>

<style>
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
</style>